<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wiki API</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <section>
    <div class="section-div">
        <h1 class="section-title">Hello world, I'm the wiki API</h1>
        <h3 class="subtitle">I can handle articles like this:</h3>
        <img src="css/API-article.JPG" alt="JSON type article" class="article-image">
        <h3 class="subtitle">How can you manage my articles?</h3>
        <ul class="list">
          <li class="list-item"><span class="get">GET </span>| Get all the articles --> /articles</li>
          <li class="list-item"><span class="get">GET </span>| Get a specific article --> /article/articleTitle</li>
          <li class="list-item"><span class="post">POST </span>| Create a new article --> /articles</li>
          <li class="list-item"><span class="update">PUT </span>| Update all the fields of a specific article --> /articles/articleTitle</li>
          <li class="list-item"><span class="update">PATCH </span>| Update one or more fields of a specific article --> /articles/articleTitle</li>
          <li class="list-item"><span class="delete">DELETE </span>| Delete a specific article --> /articles/articleTitle</li>
          <li class="list-item"><span class="delete">DELETE </span>| WARNING! Delete all the articles --> /articles</li>
        </ul>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>