
body {
  background-color: #252525;
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 2rem 0;
}

.section-div {
  display: flex;
  flex-direction: column;
  align-items: left;
  border: white solid 2px;
  border-radius: 5px;
  width: 50%;
  height: auto;
  margin: auto;
  padding: 2rem;
}

h1 {
  font-weight: 400;
  color: white;
}

.section-title {
  margin: 0 auto 1rem auto;
}

h3 {
  color: white;
  margin: 1.5rem 0; 
}

.article-image {
  width: 100%;
  border-radius: 5px;
}

.list {  
  color: white;
}

.list-item {
  list-style: none;
  margin: 0.9rem 0;
}

.get {
  color: green;
}

.post {
  color: blue;
}

.update {
  color: aqua;
}

.delete {
  color: red;
}



